<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


<!--     How many times we mention bean that many times the object will be created-->
    <bean id = "alien1" class="com.divyansh.Alien">
    </bean>

<!--    <bean id = "alien2" class="com.divyansh.Alien">-->
<!--    </bean>-->

<!--     Mentioning id is optional -->
    <bean  id = "lap" class="com.divyansh.Laptop">
    </bean>

</beans>

<!-- Got the beans definition from spring docs for xml based config and declared a bean with id and class path -->